{
   "plugins": [
      "@babel/syntax-dynamic-import",
      [
         "module-resolver",
         {
            "alias": {
               "~": "./src"
            }
         }
      ]
   ],
   "presets": [
      [
         "@babel/preset-env",
         {
            "modules": false
         }
      ]
   ]
}
