@import 'src/styles/_library.scss';

@include keyframes(roll) {
	0% {
		opacity: 1;
	}

	90% {
		opacity: 0.9111;
	}

	100% {
		opacity: 0;
		width: 0;
	}
}

@include keyframes(fade-in) {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

@include keyframes(heart-beat) {
	0% {
		opacity: 0.9;
		background-color: rgba($color: $blue, $alpha: 0.4);
	}

	25% {
		opacity: 0.33;
		background-color: #ff3700;
	}

	50% {
		opacity: 0;
		background-color: #ff0000;
		transform: scale(1.0) rotate(45deg) translate(calc($gift-dimension / 20), calc($gift-dimension / 20));
	}

	75% {
		opacity: 0.33;
		background-color: #ff3700;
	}

	100% {
		opacity: 0.9;
		background-color: rgba($color: $blue, $alpha: 0.4);
	}
}