$primary: #8578e3;
$pink: pink;
$red: #c21b1b;
$light-red: #ff0000;
$darken-red: #ba0d0d;
$heart-red-1: #ff3700;;
$heart-red-2: #ff0000;
$orange: #e86c13;
$blue: #5f87f4;
$purple: #ae24e0;

:export {
    primaryColor: $primary;
    backgroundColor: $pink;
}