$primary: #8578e3;
$pink: pink;
$light-red: #ff0000;
$heart-red-1: #ff3700;
$heart-red-2: #ff0000;
$blue: #5f87f4;
$darken-blue: #594bdb;
$ocean: #58bdd6;
$darken-ocean: #784bdb;
$yellow: #d6c158;
$light-pink: #d179c6;
$violet: violet;
$purple: #ae24e0;
$purple-2: #b784cf;

:export {
   primaryColor: $primary;
   backgroundColor: $pink;
   waveBarColor: $violet;
   waveCursorColor: $ocean;
   waveProgressBarColor: $purple-2;
}
