@use 'sass:math';

@import 'src/styles/_library.scss';
@import 'src/styles/_variable.module.scss';
@import 'src/styles/_color.module.scss';
@import 'src/styles/_icon.module.scss';
@import 'src/styles/_font.module.scss';
@import 'src/styles/_animation.module.scss';


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#root {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $pink;
}

#counter {
	@include absolute-center(0px, 0px);
	opacity: 0;
	width: 80pt;
	height: 80pt;
	transform-origin: bottom;
	filter: url(#threshold) blur(0.6px);

	&.show {
		opacity: 1;
		transition: opacity .5s linear;
		z-index: 10;
	}

	#text-span {
		position: absolute;
		width: 100%;
		display: inline-block;
		font-family: "Raleway", sans-serif;
		font-size: 80px;
		text-align: center;
		color: white;
		user-select: none;
	}
}

#love-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#gift-container {
	@include absolute-center-no-transform($gift-dimension, $gift-dimension);
	background-color: rgba($color: $primary, $alpha: 0.5);
	box-shadow: 5px 5px 10px 0px rgb(0, 0, 0, 0.33);
	z-index: 1;

	&::before,
	&::after {
		content: '';
		position: absolute;
		border-width: 0;
		background-color: inherit;
		width: $gift-dimension;
		height: 0;
	}

	&::before {
		border-radius: 0 0 calc($gift-dimension / 2) calc($gift-dimension / 2);
		right: calc($gift-dimension / 2);
		transform: rotate(90deg) translateX($gift-dimension);
		transform-origin: top right;
		box-shadow: 4px 4px 5px 0px rgb(0, 0, 0, 0.2);
	}

	&::after {
		border-radius: 0 0 calc($gift-dimension / 2) calc($gift-dimension / 2);
		bottom: calc($gift-dimension / 2);
		transform: rotate(180deg);
		box-shadow: -4px 4px 5px 0px rgb(0, 0, 0, 0.2);
	}

	.bandroll {
		$bandroll-width: 14px;
		$bandroll-length: $gift-dimension;
		$translate-position: calc(($bandroll-length - $bandroll-width) / 2);
		$translate-position-2: -(calc(($bandroll-length) / 2));

		position: absolute;
		top: 0;
		left: 0;
		background-color: $orange;
		width: $bandroll-length;
		height: $bandroll-width;
		border-radius: 5px;
		border-style: double;
		border-color: brown;
		z-index: 2;

		&.bandroll-1 {
			transform: translateY($translate-position);
		}

		&.bandroll-2 {
			transform: rotate(90deg) translateY($translate-position-2) translateX(calc($translate-position - $gift-dimension / 2));
			transform-origin: left;
		}
	}

	#open-btn {
		$circle-width: 50px;

		position: absolute;
		top: $circle-width * 2;
		left: $circle-width * 2;
		border-radius: 50%;
		width: $circle-width;
		height: $circle-width;
		transform: translate(-50%, -50%);
		background-color: $red;
		background-image: $star;
		background-size: 36px;
		background-position: center;
		background-repeat: no-repeat;
		border-width: 0;
		box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.5);
		z-index: 100;

		&.fade {
			animation: fade-in .5s linear 1s forwards;
		}

		&:hover {
			cursor: grab;
			background-color: $darken-red;
		}

		&:active {
			background-size: 32px;
			box-shadow: 1px 1px 3px 1px rgb(0, 0, 0, 0.75);
		}
	}

	&:not(.gift-box) {
		border-bottom-right-radius: 12px;
		transform: scale(0.8) rotate(45deg) translate(calc($gift-dimension / 20), calc($gift-dimension / 20));
		transition: transform linear .75s, border-radius ease-in .75s 3.5s;
		animation: heart-beat 1s ease-in-out 3.5s infinite;

		&::before,
		&::after {
			height: $gift-dimension;
			transition: height .75s ease-in 3.5s;
		}

		.bandroll {
			&.bandroll-1 {
				animation: roll 1s ease-in 1.5s forwards;
			}

			&.bandroll-2 {
				animation: roll 1s ease-in 2.5s forwards;
			}
		}
	}

	&.gift-box {
		transform: rotate(-180deg);
		box-shadow: -5px -5px 10px 0px rgb(0, 0, 0, 0.5);

		#open-btn {
			box-shadow: -1px -1px 3px 3px rgb(0, 0, 0, 0.5);
		}
	}
}